@media all and (max-width: 30rem){
    .willhide{
        display: none
    }
}

body{
    margin: 0;
}

.container{
    text-align: center;
    margin-top: 2rem
}

.hero{
    background: #3F51B5;
    color: white;
    margin-top: 5rem;
    margin-bottom: 3rem;
    padding: 1rem 0.5rem;
    font-size: 2rem;
    text-align: center
}

.notification{
    background: #f5f5f5;
    padding: 3.3rem 0.5rem;
    color: black
}

.howworks>.columns{
    text-align: center;
    font-size: 12rem;
    padding-bottom: 0.5rem;
    margin-top: 1.5rem;
    min-height: 26rem;
    border: solid 1px #BDBDBD
}

.howworks>.columns>div{
    font-size: 1.75rem
}

.columns>div{
    padding: 1rem;
    margin-top: -2rem
}

table{
    border-spacing: 0;
    margin:  0 auto
}

th{
    text-align: center;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
}

td{
    min-width: 9rem
}

footer{
    text-align: center;
    padding: 3rem 0;
    margin-top: 3rem;
    background: #0a0a0a;
    color: white;
    font-size: 1.3rem
}