body {
  background: #212121;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}
body * {
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
}
.container {
  display: inline-block;
  position: relative;
}
.container .bg {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: auto 1400px;
  background-position: -80px -600px;
  background-repeat: no-repeat;
  z-index: -1;
}
.bg img {
  display: block;
  height: 1200px;
  margin-bottom: 220px;
  margin-left: 200px;
}
.container .profile {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 340px;
  height: 340px;
  top: 80px;
  left: 230px;
  right: 230px;
  border-radius: 100%;
  background-position: center;
  background-size: cover;
  border: solid 10px white;
  box-sizing: border-box;
}

.profile img {
  display: block;
  height: 102%;
}
.container > img {
  position: relative;
  display: block;
}

.container .text-box {
  position: absolute;
  bottom: 44px;
  left: 44px;
  right: 44px;
  height: 200px;
  z-index: 2;
}
.text-box p {
  color: #746d75;
  font-size: 17px;
  text-align: right;
  position:absolute;
  right: 0px;
  top: -7px;
  opacity: .6;
}

.text-box h1 {
  color: #fcba04;
  font-size: 40px;
  margin-left: 50px;
  text-align: right;
  min-height: 80px;
}

.text-box h2 {
  color: #746d75;
  font-size: 32px;
  text-align: right;
}

.buttons {
  padding: 1rem;
}

input[type="file"] {
  position: fixed;
  top: -400px;
}
