body .particles-js-canvas-el {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-animation: fadeIn 1.3s ease-out forwards;
  animation: fadeIn 1.3s ease-out forwards
}

.hexes-container {
  position: relative;
  background: #363636;
  padding: 2rem;
  margin: -2rem;
  overflow: unset !important;
  width: auto !important;
  z-index: 3;
}

.hexes-container::before {
  position: absolute;
  content: "";
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 0;
  border-top: solid rgba(0,0,0,0) 0;
  border-right: solid 0 rgba(0,0,0,0);
  border-bottom: solid #363636 3rem;
  border-left: solid 34vw #f0db4f;
}

.hexes-container::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 100%;
  height: 0;
  border-top: solid rgba(0,0,0,0) 0;
  border-right: solid 0 rgba(0,0,0,0);
  border-bottom: solid rgba(0,0,0,0) 3rem;
  border-left: solid 34vw #363636;
}

.feeder-{
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.6);
  border-radius: 4px;
  width: 100%;
  max-width: 340px;
  height: 30rem;
  -webkit-animation: fadeIn 2s cubic-bezier(0.95, 0.05, 0.795, 0.035);
  animation: fadeIn 2s cubic-bezier(0.95, 0.05, 0.795, 0.035)
}

.stargazers{
  margin-bottom: 4rem !important;
  margin-top: 1.5rem;
  transform: rotate(-8deg);
  color: #f0db4f
}

/*///////////////////MEDIA QUERIES//////////////////*/
@media all and (max-width: 1087px){
  body .particles-js-canvas-el{
    display: none !important
  }
  .hexes-container::before,.hexes-container::after, .bottom-grid::before, .bottom-grid::after{
    border-left-width: 100vw !important;
  }
  .stargazers{
    transform: rotate(-6deg)
  }

  body .column.socialite{
    position: relative !important;
    width: 100% !important;
    padding: 8rem 1rem
  }

  body .column.socialite::after {
    position: absolute;
    content: "";
    top: calc(100% - 3rem);
    left: 0;
    width: 100%;
    height: 0;
    border-top: solid rgba(0,0,0,0) 0;
    border-right: solid 0 rgba(0,0,0,0);
    border-bottom: solid #363636 3rem;
    border-left: solid 100vw rgba(0,0,0,0);
  }

  body .bottom-grid{
    border: 0
  }

  body .bar{
    background: #363636
  }

  body .RankBoard{
    margin: 0 -8rem
  }
}
/*///////////////////MEDIA QUERIES//////////////////*/

.hexes-grid{
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	min-width: 100px
}

.grid-item{
	position: relative;
	overflow: hidden;
	cursor: pointer;
	padding: 0;
	display: inline-block;
	width: 42px;
	height: 42px;
	transform: rotate(45deg);
  margin: 8px;
  border: solid 1px #f0db4f;
  -webkit-transition: all 0.35s cubic-bezier(0.445, 0.05, 0.55, 0.95);
	transition: all 0.35s cubic-bezier(0.445, 0.05, 0.55, 0.95)
}

.grid-item>.pic{
	-webkit-box-shadow: inset 0px 0px 30px 0px;
	-moz-box-shadow: inset 0px 0px 30px 0px;
	box-shadow: inset 0px 0px 30px 0px;
	color: rgba(0,0,0,0.9);
	background-size: 100%;
	background-position: center;
	position: absolute;
	top: -8px;
	left: -8px;
	bottom: -8px;
	right: -8px;
	-webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);  
  -webkit-transition: all 0.35s cubic-bezier(0.445, 0.05, 0.55, 0.95);
	transition: all 0.35s cubic-bezier(0.445, 0.05, 0.55, 0.95)
}

.hexes-grid .row:not(:first-child){
	margin-top: -35px
}

.grid-item:hover .pic{
  background-size: 110%;
  color: rgba(0,0,0,0);
  transform: rotate(-90deg);
  z-index: 10;
  -webkit-transition: all 0.35s cubic-bezier(0.445, 0.05, 0.55, 0.95);
	transition: all 0.35s cubic-bezier(0.445, 0.05, 0.55, 0.95)t;
}

.grid-item:hover{
  transform: rotate(90deg) scale(1.45);
  z-index: 10;
  border-width: 2px;
  outline: solid black 2px
}

.grid.to-low>*{
	margin: 0 !important;
}

a{
  color: rgba(240, 219, 79, 0.4) !important
}

._card, .content{
  border: solid 2px #f0db4f;
  color: #f0db4f;
  border-radius: 4px;
  padding: 1rem
}

.content>.subtitle{
  color: #f0db4f !important;
}

.column{
  overflow: hidden
}

.fb-sign{
	z-index: 2;
	background: #f0db4f !important;
  color: #363636 !important;
  box-shadow: 0 0 1rem rgba(0,0,0,0.1);
  border: solid #f0db4f 2px !important;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear
}

.fb-sign:hover{
  color: #212121 !important;
  -webkit-animation: pulse 1.1s forwards;
  animation: pulse 1.1s forwards;
}

.bottom-grid{
  background: #f0db4f;
  position: relative;
  z-index: 2;
  margin-top: 7rem;
  padding-bottom: 2rem;
  border-left: solid 2px rgba(0,0,0,0.2)
}

.bottom-grid::before {
  position: absolute;
  content: "";
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 0;
  border-top: solid rgba(0,0,0,0) 0;
  border-right: solid 0 rgba(0,0,0,0);
  border-bottom: solid #f0db4f 3rem;
  border-left: solid 77vw rgba(0,0,0,0);
}

.bottom-grid::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 100%;
  height: 0;
  border-top: solid rgba(0,0,0,0) 0;
  border-right: solid 0 rgba(0,0,0,0);
  border-bottom: solid rgba(0,0,0,0) 3rem;
  border-left: solid 77vw #f0db4f;
}

table{
  background: #f0db4f !important;
  margin: 3rem 2rem
}

.table th{
  border-color: #363636 !important;
  border-width: 2px 0 2px !important;
  text-align: center !important
}

.table td{
  border-color: rgba(0,0,0,0.1) !important
}

.table td:first-child{
  min-width: 10rem;
}

._card:hover{
  cursor: pointer;
  -webkit-animation: pulse 0.3s forwards;
  animation: pulse 0.3s forwards
}

.socialite{
  padding: 1rem 0;
  position: absolute;
  bottom: 0;
  width: 33.333vw !important
}

.socialite > .is-flex{
  align-items: center;
  justify-content: center;

}

.socialite .is-flex> *{
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
  border-width: 2px !important;
  margin: 0.4rem;
  background: rgba(0,0,0,0);
  border-radius: 2rem !important;
  color: #363636 !important;
  border-color: #363636 !important;
  padding: 0 !important
}

.socialite .is-flex> *:hover{
  border-radius: 3px !important;
  background: #363636;
  color: #f0db4f !important;
  transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1)
}

.bar{
  position: absolute;
  top: 100%;
  width: 5px;
  right: 7rem;
  height: 6rem;
  border-radius: 4px;
  background: rgba(0,0,0,0.2);
}